<!-- 
Not used; from a previous project

{% extends "base.html" %}

{% block content %}
<head>
	<title>index</title>
    <link rel="stylesheet" type="text/css" href="goodlooks.css">
</head>

<body>

<style>
body {
    background-color: silver;
}
</style>

<h1>Hello World</h1>
	<p>Your assignment for today must incorporate the following:</p>
	<ul>
	<li>Two pages using a common base template</li>
	<li>A Navbar</li>
	<li>A Jumbotron</li>
	<li>A Carousel of pictures</li>
	<li>A layout which incorporates three columns in the description</li>

	</ul>
	</p>

</body>
{% endblock %} -->